[2021-02-02 13:05] ooflorent opened #3 "NPM distribuable contains external binaries"
I think something went wrong when publishing the package. `core-ecs` folder has been included into the NPM distribuable and contains many binaries (~25MB).

https://unpkg.com/browse/bitecs@0.1.1/core-ecs/node_modules/uWebSockets.js/

To prevent this, you could specify the `files` field in `package.json`.

[2021-02-02 13:50] ooflorent opened #4 "Query API or multiple queries per system"
Let's consider a simple collision system:

[code]

How could it be implemented using bitECS? I have the feeling that something is missing. The ability to query components directly or having multiple queries per system could do the trick.

[2021-02-04 15:44] NateTheGreatt commented on #3
thanks for catching that, will fix. we use this in a larger project and apparently took some deps from it lol

[2021-02-04 15:52] NateTheGreatt commented on #4
first of all, i would postulate this as bad design. i have never found a good use for queries, personally, that did not A) encourage poor code design which would in turn B) impede on performance. for this collision example, i would instead ask a spatial service for nearby entities and iterating over that for each entity in a collision system.

that said:

currently the solution would be:
[code]

b

[2021-02-04 16:54] ooflorent commented on #4
**A:** Let's just say they do not suit your coding habits. A system is simply a wrapper around a query (or multiple ones).
**B:** Not necessarily. Queries could be extremely efficient. In fact, they are the underlying stone of the systems so they have to be efficient.

Beside **A** and **B**, I agree that the collision pattern from the example is not the best since, as you said, spatial partitioni

[2021-02-04 19:23] NateTheGreatt commented on #4
Technically this is possible in bitECS, but the API's design does not make the code very elegant:
[code]

However, as I said before, I would caution against these types of designs. While the queries cost nothing, iterating over them does. In a lot of cases you can design the iteration away. I will ponder your example.

[2021-02-05 03:52] NateTheGreatt commented on #4
@ooflorent
I just published bitECS v0.1.2 which fixes some performance bugs and adds a new function, which is essentially the query wrapper function above:

[code]

I'm going to close this issue, but keep my warning in mind :) <3

[2021-02-05 03:52] #4 closed

[2021-02-05 03:53] NateTheGreatt commented on #3
@ooflorent bitECS v0.1.2 published with a fix for this. thanks again for bringing this to my attention!

[2021-02-05 03:53] #3 closed

[2021-02-11 08:43] ooflorent opened #5 "Performance issues"
While working a benchmark suite, I figured that `bitecs` is not as performant as it may seem or be. I believe there is dramatically polymorphic code in some _hot_ blocks.

Let's consider the following setup:

[code]

No surprise here, `bitecs` is in fact the fastest ECS implementation at doing this: looping over 1,000 entities with 2 components. `world.step()` can be run at **550,648 op/s**!

I de

[2021-02-11 08:49] ooflorent commented on #5
I also noticed that `System#remove` is pretty slow. The reason being the `splice` call. By changing it to a _swap pop_ removal, it saves a significant amount of time. A trivial implementation could be:

[code]

However it would mess up the query iteration.

[2021-02-12 00:14] NateTheGreatt commented on #5
You are awesome. Thanks for pointing all of this out! I'm going to spend some time investigating these findings.

[2021-02-12 01:41] NateTheGreatt commented on #5
@ooflorent

bitECS `v0.1.3` has been released with a potential fix for this! Oddly enough, what fixed it for me changing the backwards iteration through the `localEntities` of a system over to a simple call to `.forEach` which luckily also circumvents removals during system execution.

Let me know if this fixes your benches!

[2021-02-12 05:16] SupremeTechnopriest commented on #5
@ooflorent

I committed patch 258a7b6 that should significantly increase remove performance.  I added a map of `eid` -> `index` that eliminates the need for an `indexOf()` call and switched the `splice()` to a swap-pop removal on the localEntities.

I also updated the tests to reflect these performance changes and all 170 current tests are passing.  Version `0.1.4` has been published to npm.  Let

[2021-02-12 07:31] ooflorent opened #6 "v0.1.4 is broken"
The release v0.1.4 does not work on node. The reason being the addition of `type` inside `package.json`.

[code]

When using `type`, it indicates that `main` is an ES module.
Here is a backward compatible definition:

[code]

[2021-02-12 09:54] ooflorent commented on #5
I'm missing something here. It looks like your patch is not included in v0.1.4:

[code]

[2021-02-12 15:20] NateTheGreatt commented on #5
@ooflorent i botched the publish lol. try `0.1.6`

[2021-02-12 15:20] NateTheGreatt commented on #6
merged your PR for this

[2021-02-12 15:20] #6 closed

[2021-02-12 16:09] ooflorent commented on #5
I updated the benchmarks (https://github.com/noctjs/ecs-benchmark/pull/19).
Iteration is now 20% faster.

[2021-02-13 02:45] NateTheGreatt commented on #5
awesome. thanks again @ooflorent. closing this out

[2021-02-13 02:45] #5 closed

[2021-04-07 11:03] Ithamar opened #11 "No world.getComponent() ?"
I guess this is intentional, but although I can check if a particular entity has a component (World.hasComponent) there does not seem to be a way to get the data for that component (besides using a Query, which feels utterly wrong).

Am I overlooking something obvious?

[EDIT] Moved some unrelated comments to a separate issue

[2021-04-07 11:44] Ithamar opened #12 "System.{enter,exit} sample code is incorrect."
In the registerSystem sample with enter/exit, it seems enter/exit is defined as a function directly receiving the entity ID (eid). However, the signature is very much like update, but instead a single eid is given instead of an array (e.g. you have to do `exit: (position, velocity) => eid => { do something with the entity id }` instead of the current example showing `exit: eid => { .... }`.

[2021-04-07 13:45] Ithamar opened #13 "World.save throws 'TypeError: c[t]._flatten is not a function'"
Using the simple code below, world.save() will throw the above error:
[code]

Maybe this is related to the arrays inside the `transform` component?

[2021-04-07 18:26] SupremeTechnopriest commented on #11
We took this out because it's an anti-pattern.  You should really be using systems to access/mutate component data.  If you really really need to get component data outside of a system you can pluck it directly from the registry.

[code]

[2021-04-07 18:40] Ithamar commented on #11
Right, I can see an argument for keeping Systems nicely isolated, and sticking to accessing components they are registered for. But in that case, I guess hasComponent should have gone too, or is there a good reason to keep that?

[2021-04-07 18:57] SupremeTechnopriest commented on #11
It's used internally in this iteration of the API.  We used to have `getComponent()` but we removed it as to not encourage people to create performance bottlenecks in their code.  We should probably remove `hasComponent()` from the API as it's misleading :). That said, until we hit version 1.0.0, the API is subject to change.  We are working on the next iteration of the API thats going to be somew

[2021-04-07 18:59] Ithamar commented on #11
Okay, fair enough. That "major revision" sounds like it might be wise for me to wait a little before investing too heavily in the current API? Or would migrating a code base from the current to the new API be pretty straightforward?

[2021-04-07 19:02] SupremeTechnopriest commented on #11
It should be pretty straight forward.  Probably could write a codemod to automate it.  Going to be hard to know until we finalize the API, but we can keep you posted as it develops.

[2021-04-07 19:10] Ithamar commented on #11
Okay, thanks for the information!

[2021-04-07 19:10] #11 closed

[2021-04-08 22:50] NateTheGreatt commented on #12
thanks for catching this ^^. haven't kept up with the docs as well as i should have been. the API surface is changing soon (not too drastically), so i'll update the docs on next release (hopefully this weekend)

[2021-04-08 22:53] NateTheGreatt commented on #13
good catch, i didn't implement array type serialization on save. will include on next release 👍

[2021-04-09 07:18] Ithamar commented on #12
Lovely, looking forward to the new release! I'll close this issue for now, and simply recheck the docs once your new release drops.

[2021-04-09 07:18] #12 closed

[2021-04-30 22:39] vivek80801 opened #17 "Can I add code of conduct to this project?"
I wanted to contribute to this project. I don't have skill set to contribute this project. I never developed any game. I am learning to code and I wanted to start my journey as web developer. Can I contribute to this project?

Can I add CODE_OF_CONDUCT.md and CONTRIBUTION.md to this project.

[2021-05-06 04:56] NateTheGreatt commented on #17
this is an evolving personal project, but thanks for your interest!

[2021-05-06 04:56] #17 closed

[2021-05-08 19:27] NateTheGreatt commented on #13
@Ithamar 0.3.0 api has been released with this bug fixed. closing this out

[2021-05-08 19:27] #13 closed, assigned to nobody

[2021-06-25 20:03] mreinstein opened #24 "hello, fellow ECS project!"
Hey there, cool looking project! It's really great to see people promoting data-oriented game architecture, there aren't many of us.

I've got a very similar project over at https://github.com/mreinstein/ecs

I don't know if there's significant ways that we can help each other out, but maybe there are resources/ideas we could share to make both of these ECS projects better:

* I'd love to see how

[2021-06-26 17:00] NateTheGreatt commented on #24
thanks for the shoutout and reaching out! indeed there is a severe lack of data-oriented game archs out there.

if i were to guess i'd say it will perform equivalently to [uecs](https://github.com/jprochazk/uecs) at best, due to the component stores being object-based. if you use entity IDs as pointers into TypedArrays like bitECS and [wolf-ecs](https://github.com/EnderShadow8/wolf-ecs) do, you wi

[2021-06-26 20:21] NateTheGreatt commented on #24
thanks for the shoutout and reaching out!

there's a pretty active [discord community](https://discord.gg/qskTAan7) for several web-based ECS libs where we do a lot of sharing of the sort if you're interested, stop in and say hi!

`bitECS` was originally created to build web-based multiplayer game engine that a friend and i have been working on since its inception, so it is a bit biased towards th

[2021-06-28 15:35] #24 closed

[2021-07-07 05:15] briancw opened #25 "Storing strings"
As far as I understand there is no way to store anything other than numbers in components.
I understand that this is part of how BitECS manages to get such fantastic performance.
When using BitECS, what is the expectation for how to attach a string to an entity?

[2021-07-07 05:54] briancw commented on #25
I have come up with at least one strategy to handle for this, using the TextEncoder API.

[code]

I haven't benchmarked this approach, but my gut says this approach wouldn't be very performant.

[2021-07-08 01:34] NateTheGreatt commented on #25
yep! text encoder is one way to do it, but indeed slow.

using some kind of integer->string mapping would be the most performant:
[code]

[2021-07-08 01:40] SupremeTechnopriest commented on #25
Probably no slower than Object based ECS's that support string types tbh.

[2021-07-08 05:24] briancw commented on #25
In the case of storing strings that are not reused by multiple components, which I think is by no means an edge case, an integer->string mapping would be slower than just using an array as a BitECS type, right?

[2021-07-08 05:35] NateTheGreatt commented on #25
| storing strings that are not reused by multiple components
not sure what you mean exactly. you can have a mapping per-component if need be.

it really depends on what the exact use-case is. if the strings do not change often, or if you need to send the strings over the wire, then a mapping will be the most performant. if the strings are changing a lot then i would keep that data outside of the E

[2021-07-08 05:43] briancw commented on #25
I don't see the performance gains of using a mapping, isn't it just kicking the performance bottleneck can down the road?
Updating a string in an array of strings is slow. Updating a string in a map stored outside the ECS is the same as updating a string stored directly in the ECS but with more steps, right?

[2021-07-08 05:44] SupremeTechnopriest commented on #25
Do you have an example of a string you would want to store in a component?

[2021-07-08 05:59] SupremeTechnopriest commented on #25
Looking up a value from a map is really fast and really the enum is just a convenience for readable code, you could just use integers.

If you need to store arbitrary strings in the ECS, you probably want to actually redesign that feature.  For instance, for player names, I keep a map of entity id to player name and keep the client up to date using event based messages (which are TextEncoder encod

[2021-07-08 06:00] briancw commented on #25
I'm surprised that it isn't an obvious necessity. I'm curious if I'm misunderstanding something about how to effectively apply an ECS architecture.
I'm switching over from ECSY, which implements strings as a possible type. In a number of cases, theres an easy fix by changing from using a string to a tag. For example, I had a component used by my rendering system, "Primitive", with a field "shape".

[2021-07-08 06:09] SupremeTechnopriest commented on #25
So `shape` is definitely finite.

[code]

Same can be said for animations.  Finite. This is going to be much more performant than storing strings.

For things like chat and player names, see my last comment.  That should be in sub systems outside of the ecs that can be referenced by the ecs if needed.

[2021-07-08 06:19] briancw commented on #25
I'm still not quite on board with understanding the performance benefits of the string map setup, but thats fine. I'll play with it and see if I can figure out what I'm missing.

Thank you both for taking the time to answer my questions. I really appreciate it!

[2021-07-08 06:20] #25 closed

[2021-07-08 06:21] SupremeTechnopriest commented on #25
Sure no problem!  Once we finish up our networking tool we will have some concrete examples of how we solve these problems that we can share.

[2021-07-08 07:06] briancw opened #27 "Not Queries do not seem to update"
Not queries will correctly identify entities without components the first time they are run, but on subsequent runs will not accurately return components without entities.

[code]

The fooQuery accurately returns components with or without the Foo component each time.
The notFooQuery returns the same output all three times.

[2021-07-08 14:20] NateTheGreatt commented on #27
good catch! i know what's wrong. will have a patch out for that later this evening

[2021-07-10 20:32] NateTheGreatt commented on #27
`0.3.15` has been published to npm with a fix for this issue 👍

[2021-07-10 20:32] #27 closed

[2021-07-20 10:56] AdelNorberg opened #30 "Error: Must use import to load ES Module"
Hi!
Sorry if I made a stupid mistake. My knowledge in node.js is weak :( But I don’t understand why  doesn’t see module build in your package.
I am getting an error in the console:
![image](https://user-images.githubusercontent.com/24225624/126311943-231e678f-2734-4518-a9fe-e8177d5f2972.png)

Node v16.5.0
bitecs v0.3.15-1

package.json:
![image](https://user-images.githubusercontent.com/24225624/1

[2021-07-20 11:56] AdelNorberg commented on #30
![image](https://user-images.githubusercontent.com/24225624/126319691-ddda4309-1f60-439b-911d-5499d9aca85a.png)

If I remove this line everything works

[2021-07-22 03:19] NateTheGreatt commented on #30
the best solution would be to switch from CommonJS modules (`require`) over to the more modern ES modules (`import`), as it is officially supported in the version of node you are using (16) 🙂

CommonJS:
[code]

ES:
[code]

[2021-07-22 05:42] SupremeTechnopriest commented on #30
Also, you will have to either set `"type": "module"` in your package.json or name your files with the `.mjs` extension.

[2021-07-22 20:52] AdelNorberg commented on #30
Thank you very much for your reply.
On the screenshot there is a property **{ type: "module" }**  and and I am using **import** instead of **require**. But the error still remains. At the same time, I have no problems with other packages

This is exactly what I do

[2021-07-22 21:26] SupremeTechnopriest commented on #30
See my above comment.  You need to give your js files the `.mjs` extension or add `"type": "module"` to your own package json.

[2021-07-22 23:18] AdelNorberg commented on #30
But I have added` type: "module"`. You can see it in the screenshot above

[2021-07-22 23:20] SupremeTechnopriest commented on #30
Did you make sure to add it back to the bitecs package.json?  Are you using a bundle like webpack or rollup?

[2021-07-23 14:52] NateTheGreatt commented on #30
I suspect you are using a bundler like webpack which is rewriting your `import` calls over to `require` calls in the bundled code. Am I correct in this assumption?

[2021-07-23 21:19] AdelNorberg commented on #30
I use this package in two environments. In one of them, this package works. There Rollup.
In another, where there is nothing but ts (config on screenshots), an error occurs, which is in question in the issue

Yeah. I removed node_modules so that there were no problems after changing package.json in node_modules

[2021-07-23 21:51] SupremeTechnopriest commented on #30
can you add `"module": "ESNext"` to your tsconfig and try again?

[2021-07-23 23:32] AdelNorberg commented on #30
![image](https://user-images.githubusercontent.com/24225624/126850030-6c9d34f4-f84a-4879-b3e0-74ae53d9dd66.png)

With ESnext in ts config, other packages already stop working with the same error

[2021-07-23 23:34] AdelNorberg commented on #30
If you look at other packages that work for me, then they do not have in package.json type: "module"

[2021-07-24 00:46] hazulu commented on #30
I am having a similar issue as well-- I created a new TS project and tried using the library and was receiving the same error.

I was able to fix the issue if added type: module to my app's package.json, and compiled `tsc` rather than trying to run it. I ran the build with the following TSConfig:
![image](https://user-images.githubusercontent.com/12028362/126852503-1cf3ddfc-6c3c-4269-b4b3-57a5cf87

[2021-07-26 09:29] mrchantey commented on #30
same here, removing `"type": "module"` from the bitECS `package.json` did the trick (i'm using typescript+webpack)
ps awesome library! :)

[2021-07-27 16:00] NateTheGreatt commented on #30
the transition from commonjs to es modules has been quite a mess haha. just fyi i haven't forgotten about this, still trying to figure out what the best solution is

[2021-07-29 12:33] EnderShadow8 commented on #30
I'm pretty sure there's a way to configure the package.json to provide different entry points depending on whether the module was `require`d or `import`ed, but I'm still figuring out the specfics of how that would work with TS and stuff

Best policy is to just use ESM since ESM can import CJS but not the other way around.

[2021-08-02 14:49] sebovzeoueb opened #32 "Queries get broken when removing then adding the same component within a system call"
I've found an unexpected behaviour which I believe to be a bug or at least in need of safeguarding against somehow.

I've boiled it down to queries getting broken if you remove then add the same component during the same system call without committing removals in between.

I made a repro project here so you can see it in action: https://github.com/sebovzeoueb/bitecs-not-query-test

Just load up in

[2021-08-03 17:02] sebovzeoueb opened #33 "clearDiff doesn't seem to be working properly for Changed queries"
I've been trying to get 2 systems working with queries that listen to Changed on the same components, and I can't make it happen.

My understanding is that I should set `clearDiff` to `false` when evaluating the first query, however something's not right here and when I do that the first query is constantly finding entities instead of only the changed ones, and the second query is still finding no

[2021-08-07 13:01] EnderShadow8 commented on #30
CJS can import ESM as follows:

[code]

Hope this solves the problem.

[2021-08-09 01:06] NateTheGreatt commented on #32
fixed in `0.3.16-5`

many thanks for the detailed report and example 🙏

[2021-08-09 01:06] #32 closed

[2021-08-16 11:07] vegeta897 opened #35 "Minifier/compressors that rename functions cause Not() and Changed() to break"
Terser and UglifyJS (to name two common ones) rename functions by default when minifying, and this breaks any ~~[code that relies on comparing function names to strings](https://github.com/NateTheGreatt/bitECS/blob/master/src/Query.js#L61)~~.

In my case, it causes `Not()` to be ignored in queries. It probably affects `Changed()` too.

My current workaround is just to disable renaming functions th

[2021-08-18 14:25] marcusround opened #36 "Parameters not being passed down pipe"
[code]

Expected output:
[code]

Received output:
[code]

Not sure if this is the intended way to use pipes (I understand that to get around this I could add a property to `world` instead) but the fact that the parameter is passed through successfully to the first system, but not any thereafter, is confusing. This led to quite a tricky bug for me (I was passing `deltaTime` down a pipe and was bewi

[2021-08-21 14:14] NateTheGreatt commented on #36
`pipe` is actually implemented like any other pipe from any other functional library, and is supposed to function like the upcoming ES6 pipe operator `|>`. functions are connected such that each function's output is "piped" to the next function's input.

however, i have recognized the useful nature of being able to have all initial arguments passed down the pipe. i think i will introduce another p

[2021-08-21 16:10] NateTheGreatt commented on #36
`pipe` is actually implemented like any other pipe from [other functional libraries](https://ramdajs.com/0.19.0/docs/#pipe), and is supposed to function like the upcoming ES6 pipe operator `|>`. functions are connected such that each function's output is "piped" to the next function's input. because functions can only have a single return value, i opted to have systems implicitly `return world`, a

[2021-08-22 04:01] marcusround commented on #36
I see, I wasn't familiar with `pipe` as a concept and misunderstood the intent. I was treating a pipe as just a neat 'package' of systems that I could import at once. Your first code solution looks like it covers my intent and is easy to construct, not sure there's any need to add anything to the library itself.

[2021-08-23 14:44] #30 closed

[2021-08-23 14:55] NateTheGreatt commented on #36
cool! i'll close this then 🍻

[2021-08-23 14:55] #36 closed

[2021-08-24 17:24] NateTheGreatt commented on #35
`0.3.18-1` :)

[2021-08-24 17:24] #35 closed

[2021-08-31 07:57] sebovzeoueb opened #39 "Unable to serialize component with long array field"
see https://github.com/sebovzeoueb/bitecs-serializer-test for repro.

This happens when serializing an entity with a component that has a `uint16` array field of 1024 elements:

[code]

[2021-08-31 08:07] sebovzeoueb opened #40 "Piping a query into a serializer doesn't work"
I followed the example from the docs, but using `pipe` with a query and a serializer is returning null for me.

See https://github.com/sebovzeoueb/bitecs-serializer-test the 3rd test is finding 2 entities in the query, but piping the query to the serializer is returning a null packet.

[2021-08-31 08:08] sebovzeoueb opened #41 "Changed in a serializer is throwing an error"
see the last example in https://github.com/sebovzeoueb/bitecs-serializer-test

Serializing using the Changed modifier on a component is causing this error:

[code]

[2021-09-07 02:08] luetkemj opened #42 "Example in Readme doesn't work"
Awesome project! I'm excited to give this a go and build something with it :)

FYI the example on the README doesn't work. Running the code exactly as is results in the following error `Cannot destructure property 'time' of 'world' as it is undefined.`. Seems like `world` isn't getting passed into the pipes correctly.

I can just run the systems manually to get around it for now.

[code]

Thanks!

[2021-09-07 02:33] NateTheGreatt commented on #41
fixed in `0.3.20` 👍

[2021-09-07 02:33] #41 closed

[2021-09-07 02:33] NateTheGreatt commented on #40
fixed in `0.3.20` 👍

[2021-09-07 02:33] #40 closed

[2021-09-07 02:33] NateTheGreatt commented on #39
fixed in `0.3.20` 👍

[2021-09-07 02:33] #39 closed

[2021-09-07 02:38] NateTheGreatt commented on #42
thanks, good catch! just pushed a fix for that. i forgot to `return world` in the system functions 😅

[2021-09-07 02:38] #42 closed

[2021-09-07 07:41] sebovzeoueb opened #43 "world is undefined when piping systems"
I've updated my example project here to bitECS 0.3.20: https://github.com/sebovzeoueb/bitecs-serializer-test

Looks like my previous issues have been solved, but now when piping systems I'm getting some kind of error in which the world being passed in appears to be undefined

[2021-09-07 07:46] sebovzeoueb commented on #43
OK, I figured it out, systems need to return world now!

[2021-09-07 07:52] #43 closed

[2021-09-07 07:55] sebovzeoueb opened #44 "suggestion: bring back defineSystem"
I feel that the new way of defining systems as a function that returns world is anthithetical to one of my favourite things about bitECS: the lack of boilerplate code.

To this end, I suggest you bring back defineSystem, and make that add the world return instead of the user having to add it on every system themself.

Pls close if you don't agree, just my opinion!

[2021-09-07 07:56] sebovzeoueb opened #45 "suggestion: CHANGELOG.md"
It would be nice to have a changelog file documenting breaking changes to the API so we don't have to browse the docs to figure out what's different and why our code doesn't work anymore.

[2021-09-07 15:08] NateTheGreatt commented on #45
yea, it's about time i add one. so far i've only added to the API, but deprecating `defineSystem` indeed calls for a changelog!

[2021-09-10 02:05] luetkemj opened #47 "String type?"
I've never worked with TypedArrays before so I may be coming at this from the wrong direction. How would I define a component with string types? For example, suppose I want to define a "Name" component that stores the name of the entity - how would I do that?

[2021-09-10 02:07] vegeta897 commented on #47
This is addressed in the [FAQ](https://github.com/NateTheGreatt/bitECS/blob/master/docs/FAQ.md)

[2021-09-10 02:18] #47 closed

[2021-09-12 13:38] luetkemj opened #48 "Queries defined outside of a system function only return new entity matches"
Queries defined outside a system function will return all matches on the first call and only new matches on subsequent calls.

Queries defined inside a system function will always return all matches.

Created a minimal repro here: https://github.com/luetkemj/bitecs-bug-repro

I would expect that a query defined outside a system function would always return all matches. I would not expect to have t

[2021-09-12 22:00] NateTheGreatt commented on #48
i think what might be confusing you is the fact that bitECS recycles entity IDs. there shouldn't be any issues if you allow bitECS to handle all EID management:
[code]

[code]

[2021-09-12 23:12] vegeta897 commented on #48
This is not the problem; their test is not adding any new entities after the initial set.
Here is a simplified version of their test with only 3 entities:

1. Create entities A B and C
2. Add component to A and B
3. Run system, query contains A and B and the system removes component from them
4. Add component to B and C
5. Run system, query contains only entity C, expected B and C

[code]

[code]

[2021-09-12 23:19] NateTheGreatt commented on #48
these components are being added to EIDs which have been removed:
[code]

 removed entities shouldn't appear in queries 😄

[2021-09-12 23:21] vegeta897 commented on #48
The system is removing components, not entities. Only your example is removing entities 😅

[2021-09-12 23:21] NateTheGreatt commented on #48
oh right! i just noticed that. let me ponder this for a bit longer...

[2021-09-12 23:26] luetkemj commented on #48
Thanks @vegeta897 for helping explain the issue!

[2021-09-12 23:48] NateTheGreatt commented on #48
okay, bug identified! i'm not too sure if i can fix this without adding back `defineSystem`, which i attempted to deprecate recently.

basically, because removals are deferred (to avoid removals borking loops), `defineSystem` used to call `commitRemovals`. queries call this function, too. those two aformentioned `addComponent` calls were indeed adding the component, but deferred removals were remo

[2021-09-12 23:49] NateTheGreatt commented on #48
okay, bug identified!

basically, because removals are deferred (to avoid removals borking loops), defineSystem used to call commitRemovals. queries call this function, too. those two aformentioned addComponent calls were indeed adding the component, but deferred removals were removing the component from both entities the next time the query was called! 😆

i will soon publish a fix for this. super

[2021-09-12 23:50] NateTheGreatt commented on #48
okay, bug identified! not sure if i can fix this without adding back `defineSystem` but i shall ponder this for a bit.

basically, because removals are deferred (to avoid removals borking loops), defineSystem used to call commitRemovals. queries call this function, too. those two aformentioned addComponent calls were indeed adding the component, but deferred removals were removing the component fr

[2021-09-13 00:35] NateTheGreatt commented on #48
bug fixed without `defineSystem` 🙌
shoutout to @vegeta897 for the solution 🙏
great catch @luetkemj!
`0.3.21` published with the fix 👍

[2021-09-13 00:35] #48 closed

[2021-09-22 13:46] gepz opened #49 "hasComponent might return undefined when the component is not registered yet"
Is this the expected behavior?
Incidentally, based on [this comment](https://github.com/NateTheGreatt/bitECS/issues/11#issuecomment-815149173) is hasComponent not recommended to use?
If so, is there another way to reuse the queried results to further filter the entities with specific tags without requerying?

[2021-09-22 19:44] NateTheGreatt commented on #49
good catch, i think it should instead return `false` in that case. this change will be in the next release.

also `hasComponent` is fine to use! it depends on the use case i suppose... one could trade these `hasComponent` checks for more specific queries, e.g.
[code]
could be turned into this:
[code]
or vice versa.

whatever works best for your needs :+1:

[2021-09-27 17:26] NateTheGreatt commented on #49
closing out, published in `0.3.21-5`

[2021-09-27 17:26] #49 closed

[2021-10-01 11:09] sebovzeoueb opened #50 "Serialization doesn't work on 0.3.21-6"
I have serialization working OK on 0.3.21-5 but on 0.3.21-6 it throws `Offset is outside the bounds of the DataView`. This is on a component with a large array property.

UPDATE: after more verification, 0.3.21-5 is also broken for me, it's possible I forgot to rebuild the client after updating. Last working version is actually 0.3.21-4b. Note that the server being on 0.3.21-5 was fine, so this im

[2021-10-01 11:14] sebovzeoueb opened #51 "Changed serialization still doesn't work"
~~On 0.3.21-5 because -6 doesn't work at all (see my other issue),~~ I can use the Changed modifier in a serializer, but its actually still just constantly serializing all the fields rather than just the changed ones.

EDIT: I've once again gone to my test project and found some interesting additional clues. Here's the project_ https://github.com/sebovzeoueb/bitecs-serializer-test (ignore the issu

[2021-10-04 01:41] dannyfritz opened #52 "defineSystem documentation."
The defineSystem documentation is pretty lacking currently. I see in code that there are query modifiers for Not, Or, Changed, Any, All, and None. Some explanation of what these do or how to use them would be appreciated in the API.md file.

https://github.com/NateTheGreatt/bitECS/blob/eebaea52009c38eb9c6a78449ee8aa7ab3dacc79/src/Query.js#L8-L14

https://github.com/NateTheGreatt/bitECS/blob/master

[2021-10-04 02:35] gepz opened #53 "Types.eid is missing in Typescript declaraction."

[2021-10-04 03:43] NateTheGreatt commented on #52
i've been undecided on leaving `defineSystem` around. the only thing it does is `return world`, implicitly. any thoughts here?

as for `Any`, `All`, and `None`, these are not fully implemented yet. just some preparations in-place at the moment. i have some stashed changes here that i'll be able to give some attention very soon!

[2021-10-04 03:56] dannyfritz commented on #52
Ah sorry, I actually meant `defineQuery`. I'm not sure what the point of defineSystem is unless you plan to do something special in the future.

[2021-10-04 10:47] sebovzeoueb commented on #51
Looks good now! Thanks!

[2021-10-04 10:47] #51 closed

[2021-10-04 10:47] sebovzeoueb commented on #50
This is also fixed now, thanks!

[2021-10-04 10:47] #50 closed

[2021-10-04 10:55] sebovzeoueb opened #54 "suggestion: query modifier for deserialized entities"
Have a modifier similar to `Changed` like `Deserialized` or something which would track entities/components that have been updated via deserialization. I would have a use for this to update the rendering data on the client for entities which changed on the server and had the diff sent. It seems to me that as the serializer is already handling the diffing, I wouldn't want to do it a second time whe

[2021-10-04 10:57] sebovzeoueb opened #55 "Export local ID map"
Just a reminder that it would be nice to expose the Map of serializer IDs to local to better handle entity/component removal over the network with custom messages.

[2021-10-04 16:04] #53 closed

[2021-10-04 16:38] dannyfritz opened #57 "TypeScript port"
Is this a real intention?
https://github.com/NateTheGreatt/bitECS/blob/04f1faa/src/index.ts#L2

[2021-10-04 18:55] NateTheGreatt commented on #57
yes _but_ i have a lot of internal changes i'm working on right now that may shift the internal architecture a bit, so i'm holding off for the moment.

changes include any/all/none query modifiers, and automatic resizing of data stores with workers so that the main thread isn't locked up when data stores need to grow

[2021-10-13 09:34] sebovzeoueb opened #58 "[proposal] callback on deserializing entities"
As an initial step towards making deserialization more modular, I think it would be useful to have an optional callback that would execute on deserializing entities to give access to the EIDs present in the packet.

[code]

[2021-10-19 10:04] sebovzeoueb opened #59 "0.3.23 broke Changed serializer"
`Changed` modifier used with serializers no longer works, all my packets have 0 byte length. Appears to be working fine in queries however.

[2021-10-21 05:25] #59 closed, assigned to nobody

[2021-10-21 05:25] #33 closed

[2021-11-17 15:46] grorp opened #64 "Nested arrays"
I couldn't get arrays in arrays working. Here is an example:

[code]

[2021-11-17 20:30] SupremeTechnopriest commented on #64
Nested arrays are not supported.  In my opinion, component data should be flat where ever possible.  Arrays incur a start up performance hit and use a lot of memory.  I don't think we will be supporting nested arrays, but correct me if I am wrong @NateTheGreatt.

[2021-11-17 20:39] dannyfritz commented on #64
Food for thought, "nested arrays" can be handled in a flat manner. If the size is known, it can always be mapped to the buffer appropriately. It does complicate the Proxy object and mapping though.

[2021-11-17 20:46] SupremeTechnopriest commented on #64
Its definitely possible.  What is the use case here?  Can you share the actual component you are trying to create @grorp?

[2021-11-18 15:24] grorp commented on #64
Thank you for the fast replies! I'm making simple visuals/physics for a game:

[code]

Are arrays really more expensive than objects? 😯

I could change the Vector3Ds, Quaternions and Colors to objects and make `boxes` a `[Vector3D, 20]`. This wouldn't of course make the code nicer. But the other variant would make your code more complicated, so...

[2021-11-19 17:56] NateTheGreatt commented on #64
hi @grorp, thanks for creating the issue! this feature is doable, i shall add it to my to-do list :+1:

they only take up more boot-time, as bitECS preallocates everything up-front. preallocating a single typedarray is fast, but preallocating an array of subarrays for each EID is a bit slower due to the need to iterate over the entire array of all possible entities. i plan on utilizing workers to

[2021-11-24 22:37] NateTheGreatt commented on #55
circumvented this by returning locally mapped EIDs upon deserialization

[2021-11-24 22:37] #55 closed

[2021-12-09 22:29] ceoshikhar opened #65 "Question: Wouldn't this refactor be better?"
I was reading the code and there is this function in `Entity.js`

[code]

and I was thinking that wouldn't it be better if it was changed to

[code]

so that it's more consistent with other functions like `getEntityCursor`, `getRemovedEntities`, `getGlobalSize` etc. Maybe there is reason why you did it the way it's done but while reading the code, I just thought it looked a little weird. Maybe I a

[2021-12-09 22:42] ceoshikhar commented on #65
BTW If you do agree that this change would be better then please let me do this change. I would love to be a contributor.

[2021-12-10 01:51] NateTheGreatt commented on #65
yea that is a better name for sure. however, all of this will be changing soon. instead of having a global memory, i have been adding in the concept of a `Universe` which will represent separate memory spaces, each universe having its own `resizeThreshold` and own set of worlds, etc

[2021-12-10 06:31] ceoshikhar commented on #65
Got it. So I guess I won't be getting to have the pleasure of being a contributor to bitECS anytime soon. Thanks for the quick response. 😀

[2021-12-10 12:44] grorp commented on #64
I discovered a while ago that arrays have the entity ID before the index, like this:

[code]

How will you do it with nested arrays? The possibilities I see are:

[code]

or

[code]

or, my personal favourite, because it is consistent with the rest of bitECS:

[code]

[2021-12-10 12:46] grorp commented on #65
Will you have to register components not global but for universes then?

[2021-12-10 17:17] NateTheGreatt commented on #64
this would be consistent with the current API:
[code]

the other way around doesn't make sense imo. what does `14` represent in `Component.array[14]` and what would it return?

[2021-12-10 17:21] NateTheGreatt commented on #65
components are registered per-world

[2021-12-11 21:40] #65 closed

[2021-12-13 19:06] grorp commented on #64
You got me confused. I was thinking of this component:

[code]

What would I write if I wanted to access the 14th element of the 14th element of the 14th element of `Component.array` for the entity with the ID `3`? (Which way around?)

[2021-12-13 19:09] grorp commented on #65
OK, thank you.

[2021-12-27 00:35] luetkemj opened #67 "Using serialization for saving and loading"
Serializing a world seems to work but deserializing throws the following error:

[code]
Here's some repro code:

[code]
I don't get an error if I use defineSerializer with same world that I serialized but I'm trying to figure out how that's useful. If I have the world already, there's no reason to deserialize.

Not sure if bug or I'm missing something...

[2021-12-27 17:17] NateTheGreatt commented on #67
seems like a bug! thanks for reporting, i'll work on a fix ASAP

[2021-12-28 10:22] Anatoly03 opened #68 "How to check if a certain entity still exists?"
During a bug in my own code I noticed that the `Comp.attr[id]` notation will also give a value, even if the entity with `id` is already removed. In my implementation, I had a `ForceArrow` component which takes two other entities and applies velocity modifications to them.

It would be nice to have something like `exists(world, eid)` if possible.

[2022-01-05 02:15] NateTheGreatt commented on #68
an explicit API method might be useful. however, one way to do this without an addition to the API would be to define a query like so:

[code]

this is what the new API method would do, anyways. so there are two options here:

1. add new API method
2. add documentation for the above

what do you think?

[2022-01-05 02:20] NateTheGreatt commented on #68
on second thought, i can speed up the lookup time if i make an API method for it, because underneath that array is a sparse set.

i'll add a new API for this on next release 🙂 thanks for creating the issue!

[2022-01-11 13:30] neroishero opened #70 "How to rollback game state if derialize the world won't delete new created entities?"
I use bitEcs in my step-lock game as game states, somehow i let the client to predict next game frame state, if the predict state does not match the server's state, then I want to rollback the state to previous state.  I tried to serialize the world every frame and save the packet, then derialize the world with certain frame if the predict is wrong. But the derialization won't delete the entitis c

[2022-01-14 19:10] NateTheGreatt commented on #70
good question! i hadn't considered a situation like this. luckily i'm in the process of rewriting serialization, and i believe i have a solution for component adds and removals. sit tight and i'll try my best to cater to your scenario :)

[2022-01-14 19:12] NateTheGreatt opened #71 "deserializers unecessarily create shadow state"
when creating deserializers with `Changed` modifiers in the config, additional and unnecessary shadow states are being created which is bloating the memory consumption.

thanks @sebovzeoueb for finding this issue!

[2022-01-15 21:20] NateTheGreatt commented on #64
the semantics that i have prefered are such that we use the entityID for accessing a value for a specific entity from a component.
[code]

because arrays are themselves values in this case, we use the entityID to access a specific array for an entity and then pull values from that array.
[code]

to continue this pattern for nested structures, we should still be using the entityID first to obtain a

[2022-01-15 21:44] grorp commented on #64
Thank you for the very detailed response. It makes sense that it works like that.

[2022-01-16 01:45] luetkemj opened #72 "Setting world size larger than default blows up once the default size is reached."
I'm building a standard multilevel dungeon roguelike. Each level creates around 3500 entities. If the default world size is left alone, at level 27 I get a very clear error message:

`bitECS - max entities of 100,000 reached, increase with setDefaultSize function.`

If I increase the limit to 1,000,000 I get a different error when I reach the original default of 100,000 entities.

`Uncaught TypeEr

[2022-01-16 01:48] SupremeTechnopriest commented on #72
I might suggest making a world per level, or bumping the max entities to something higher.  Bitecs can handle millions of entities with no issues.

[2022-01-16 02:05] luetkemj commented on #72
Thanks for the quick reply :)

I thought that's what `setDefaultSize` did? If it wasn't clear above, I set the defaultSize to 1,000,000 but get a fatal error after adding only 100,000 entities to the world.

Ideally, yes! That was the idea behind my first attempt at a multi-level dungeon, but on trying to save off and restore levels I ran into a different bug (#67)

[2022-01-16 02:15] SupremeTechnopriest commented on #72
are you calling `setDefaultSize` before creating your world?  If so that sounds like another bug that @NateTheGreatt will have to look into.  I know he's in the middle of a refactor at the moment.

[2022-01-16 02:24] luetkemj commented on #72
Yep, it's the first thing I do after initial imports.

Thanks

[2022-01-20 16:43] Anatoly03 commented on #68
@NateTheGreatt Thank you very much! Appreciated!

[2022-01-21 05:23] briancw commented on #70
I am in a similar position. I am currently serializing the world on a server and deserializing it on a client and need to know when an entity has been removed by the server. I would like to be able to potentially miss an update from the server and still keep the client and server synced, so specifically sending a list of ents to remove is not preferable. Rather, I'd like to be able to just have th

[2022-01-25 23:14] NateTheGreatt commented on #70
@briancw i can cater to removals being serialized, but i don't think i can cater to your specific scenario. it is not normal for networked games to serialize and send the state of every single entity in the game every single frame as that is highly inefficient. for example in the networking system i have devised i only send values for an entity component when the value changes.

[2022-01-26 16:54] NateTheGreatt commented on #70
after pondering this for a bit longer, i think i see a generic solution for both of these situations: `snapshots`. these would entirely replace world state. however, i am not sure what the performance will be like for this concept just yet. stay tuned 🤞

[2022-02-01 17:21] douglasduteil opened #73 "bug(serialization): resetGlobals required to reload a world"
Hi @NateTheGreatt

That bitECS of yours is 🚀 for me.

I'm not sure I'm using it the proper way...
Anyway, I found a freaky behavior in the deserialize process, confusing old and new entities.

![bitecs0334-bug](https://user-images.githubusercontent.com/730511/152013007-24c1600a-ff3c-48e2-8aa1-1565bea9bd00.gif)

I narrow the mismatch to https://github.com/NateTheGreatt/bitECS/blob/53458fcd8163b74ec

[2022-02-02 00:09] EnderShadow8 commented on #73
The serialiser doesn't capture a snapshot of the state at the time, but rather the diff between the current capture and the previous capture. An improved library is being developed here: https://github.com/Web-ECS/SoA-serialization

Related: #70

[2022-02-02 19:39] NateTheGreatt commented on #68
@Anatoly03 i realized there is a caveat here that will require me to introduce the concept of entity generations. because `bitECS` recycles entity IDs, it is possible a new entity will be created with the same ID of a removed entity, causing a false-positive return value from a method like `entityExists` and even from the above `getAllEntities` example.

the solution is to store a generation ID in

[2022-02-03 05:40] Anatoly03 commented on #68
Oh only if it’s easy to implement! I don’t want you to take all the effort for one simple feature!

[2022-02-08 16:33] douglasduteil commented on #73
Ooooh good to know
I'll look it up !
Thanks @EnderShadow8

[2022-02-08 16:33] #73 closed

[2022-02-13 12:18] ccfiel opened #74 "Is this package maintained?"
I have notice the last update was last 2021. Is this package still maintained?

[2022-02-14 19:16] NateTheGreatt commented on #74
@ccfiel yes indeed it is! i'm still here, just busy with a new job and a few side projects. i am currently in the process of refactoring `bitECS` into sub-modules which i have begun uploading to the new [Web-ECS](https://github.com/Web-ECS/) org. The plan for this org is to be a home for these sub-modules that the community can use.

right now there are two modules being actively worked on:

https

[2022-02-15 00:21] ccfiel commented on #74
Thanks @NateTheGreatt @luetkemj. Great to know! :) I will be using this package to our game project

[2022-02-15 00:21] #74 closed

[2022-02-22 02:03] NateTheGreatt commented on #67
@luetkemj it seems this error indicates that `newWorld` does not know about a component that `world` knows about. components automatically register with worlds when they are either added to an entity or a query with that component is called on a world. i created an example which reproduces the error:

[code]

because serializers and deserializers need to have the same exact config up-front, using

[2022-02-22 02:21] NateTheGreatt commented on #72
@luetkemj can you try the latest version of `bitECS` and let me know if the error still occurs? `0.3.34`

[2022-02-22 12:37] yairhaimo opened #75 "Entity Exists"
Is there a way to see if an entity exists in the world?

[2022-02-22 13:50] yairhaimo commented on #75
Ah, great. Didnt see it in the api docs.
Thanks!

[2022-02-22 13:51] #75 closed

[2022-02-22 16:15] luetkemj commented on #72
@NateTheGreatt bug is fixed in `0.3.34` thanks!

[2022-02-22 16:19] luetkemj commented on #67
That feels a lot more intuitive to me. If there's a legitimate usecase for passing in the world directly that I'm missing, good documentation should make things clear about when to do what.

[2022-02-23 17:37] NateTheGreatt commented on #75
@vegeta897 @yairhaimo this API function hasn't been released yet FYI, but i will be publishing a release with it soon.

however, there is a caveat here, as explained in this issue:
https://github.com/NateTheGreatt/bitECS/issues/68#issuecomment-1028292178

tl;dr because entity IDs are recycled it is entirely possible that a new entity was created with the same ID that was removed. still working on

[2022-02-23 17:39] NateTheGreatt commented on #72
awesome 😄 i'll close this issue then

[2022-02-23 17:39] #72 closed

[2022-02-24 13:15] speigg commented on #68
@NateTheGreatt being able to track whether or not an entity exists without mistaking it for a previously created and destroyed entity is an important feature! Entity generation ID sounds like a decent solution :)

[2022-02-25 02:24] NateTheGreatt commented on #68
@speigg entity generations is the ideal solution, and am working on implementing that along with archetypes. however, i've decided as an immediate interim solution to simply prevent EID recycling until a certain number of entities have been removed, and then treating the list of removed entities as a FIFO queue.

[2022-02-26 18:02] NateTheGreatt commented on #68
@Anatoly03 @speigg @yairhaimo @vegeta897

i have released `bitecs@0.3.35` which includes `entityExists` along with a delayed entity ID recycling to help prevent false-positive existence checks :+1:

[2022-02-26 18:02] #68 closed

[2022-03-11 03:32] vegeta897 opened #77 "API request: getAllEntities(world) - and unexpected behavior with empty queries"
There are some cases where I want to simply iterate over all existing entities in a world.

Lacking a function in the API, my first thought was using an "empty" query.

Since the typings for `defineQuery` require an array, I passed in an empty one `[]`

I haven't tested this thoroughly, but calling `removeEntity` while iterating this query has strange behavior. The first run through, it goes fine.

[2022-03-14 21:13] NateTheGreatt opened #78 "allow multiple enter/exitQuery references"
currently only one enter/exitQuery reference is allowed per query. should be allowed to have multiple references on a single query

[2022-03-14 21:16] NateTheGreatt opened #79 "remove `[key: string]: any` from `IWorld` type def"
removing `[key: string]: any` from `IWorld` type def will allow stricter typing on `IWorld` extensions

[2022-03-14 21:16] NateTheGreatt commented on #45
finally added this!

[2022-03-14 21:16] #45 closed

[2022-03-14 22:58] NateTheGreatt opened #80 "memoize queries per world"
currently defining a query with the same components as a previously defined query will create an entirely new query instead of reusing the previously defined query. should instead reuse the previously defined query

[2022-03-14 23:04] NateTheGreatt commented on #77
done! `0.3.37`

[2022-03-14 23:04] #77 closed

[2022-03-17 15:44] NateTheGreatt commented on #79
`v0.0.37`

[2022-04-15 12:53] Shadowlauch opened #83 "getAllEntities seems to be gone but remains in typescript definitions"
Not sure if I'm missing something, but when I try to call getAllEntities I get an error and looking at the getAllEntities itself returns undefined. Looking at the compiled code I could not find any mention of getAllEntities but the types still mention it.

[2022-04-15 16:32] Shadowlauch commented on #83
Seems like this is related to #82

[2022-04-28 18:44] NateTheGreatt commented on #83
sorry for the delay on merging that PR! i shall get a release out with this change soon

[2022-05-06 02:57] fielding commented on #83
I see that I wasn't the only one looking to use `getAllEntities`! It has been merged (thx @NateTheGreatt), so this can be closed.

Cheers!

[2022-05-06 04:47] #83 closed

[2022-05-07 23:37] pietrovismara commented on #83
I'm on v`0.3.38` from npm but I still can't use `getAllEntities`. Are you installing directly from github @fielding ?

[2022-05-23 00:24] Ddhuet opened #85 "No release?"
Am I missing something? Why isn't there a release or link to the actual .js file? Compilation with node can either be a huge hassle or impossible on certain platforms.

[2022-05-23 01:21] EnderShadow8 commented on #85
I believe you can download off npm and copy the single .js file to your project, if you don't want to depend on npm.

[2022-05-23 23:15] Ddhuet commented on #85
I don't see a way to do that on the npm site. Regardless, it seems like a pointless barrier to newcomers trying out the code. I have never before seen a browser library that didn't have a precompiled JS file.

[2022-05-23 23:22] SupremeTechnopriest commented on #85
We don't commit the build files. This is typical for node.js projects.  The npm module has the built code.  If you want to build from source you can:

1. Clone this repo
2. Install dependencies
3. Run `npm run build`
4. Grab the built files from the `dist` folder.

Here is a one liner for you

```git clone https://github.com/NateTheGreatt/bitECS.git && cd bitecs && npm i && npm run build && cd dis

[2022-05-23 23:53] vegeta897 commented on #85
Using the releases on GitHub would be good, but in case it's useful to OP or anyone else, you can use [unpkg](https://unpkg.com/) to download (or CDN) any file on NPM.

https://unpkg.com/bitecs will serve the file defined in the package `main` field for the latest version.

[2022-05-24 08:11] Ddhuet commented on #85
It makes perfect sense for a node project, but this one does specifically state for node or browser. I appreciate the solutions posted and was able to get a build just using node, but it's quite a process for someone who only wants it for browser usage. Personally I'm on Windows at the moment and had to get node, download the repo, fix node issues, and then spend a surprising amount of time figuri

[2022-05-24 17:57] SupremeTechnopriest commented on #85
I find unpkg to have really inconsistent latency.   Sometimes it's acceptable sometimes it is not.

I spoke with @NateTheGreatt and he is going to start tagging releases and uploading the build files.  He's been busy lately, but will get to it when he can.  Going to close this issue now as there are a few ways to solve the problem in the mean time.

[2022-05-24 17:57] #85 closed

[2022-06-05 22:35] bcolloran opened #86 "how to fully delete/reset a game world?"
I'm having trouble fully resetting/deleting a bitecs game world. I have a client/server situation, and I'd like to completely blow away *everything* when the last client disconnects, so that I can be 100% confident that everything is completely deterministic when new clients connect. However, there seems to be some scrap of hidden state because when my clients connect the first time, a particular

[2022-06-06 00:20] bcolloran commented on #86
(fyi, I was able to solve this by adding a `hardResetAll` function to a fork, which resets all (at least I think all...) of the module-scoped state in bitECS. It seems to work, but I don't know the bitECS internals well enough to know if this will be disastrous somehow later on)

[2022-06-06 01:34] EnderShadow8 commented on #86
Are you doing arithmetic operations on entity IDs? How did you end up with those numbers?

Is this a memory leak?

From what you're describing, it seems like you're relying on entity IDs being deterministic across runs. Unless there's a bug in the code, `resetWorld` should clear all state that's relevant to the user. (but not invisible state not defined in the user API)

Also, regardless of whethe

[2022-06-06 02:38] bcolloran commented on #86
I'm trying to set up an authoritative server with client side prediction. Since snapshotting is not yet implemented (https://github.com/NateTheGreatt/bitECS/issues/70#issuecomment-1022393048), I've been doing my best to work around that, and for for my workarounds the bookkeeping and debugging is _much easier_ if I can reset the whole universe when the last client disconnects, so that when new cli

[2022-06-06 03:03] EnderShadow8 commented on #86
Is there any reason you want the id to be the same across runs? Since you did a reset, there's no previous information to compare against. It's best to assume that the entiity id allocation is nondeterministic and that the only guarantee is uniqueness.

[2022-06-06 03:19] bcolloran commented on #86
Yes, as said, deterministic IDs have made my workarounds for snapshotting tractable given the currently available APIs. I was also encountering race conditions with hot module reloading client-side that have been totally resolved now that I'm able to do a hard reset of the server side state.

I hear you -- perhaps _ideally_ I wouldn't notice that the entity ID isn't the same, but it has turned out

[2022-06-06 03:20] EnderShadow8 commented on #86
I think I see what you're trying to do now, it's probably best to see what Nate says about this

[2022-06-07 02:16] bcolloran commented on #86
Hi @NateTheGreatt, I submitted PR #87. It's very simple, but it worked for me. It may admittedly be totally stupid or disastrous in some way I have not yet realized...

[2022-06-19 14:14] O4epegb opened #89 "`getAllEntities` is not a function"
Using `v0.3.38` and it says that `getAllEntities` is not a function, and indeed there is no such function in dist files, but it's present in the `.d.ts` file.

It seems like some mismatch between what is published in npm and the source code?

[2022-06-20 21:54] O4epegb commented on #67
Would also love to see some in-build solution for that!

So far I've been using this to keep track of all components (to avoid forgetting to register one):

[code]

[2022-06-30 07:19] fielding commented on #89
I think you might be correct about it being a mismatch between what is published to npm and the source. Have you tried pointing the package to this repo to verify this? Something like...
[code]

You actually just reminded me that I haven't updated one of my projects back to using the npm package haha, but on the upside `getAllEntities` is available since it points to my fork's dist branch.

[2022-06-30 13:54] O4epegb commented on #89
I don't think it's possible to point to Github because there is no `dist` folder checked in here?

[2022-06-30 15:00] fielding commented on #89
herpderp! You're absolutely right, feel free to test using

[code]

so we can report back to @NateTheGreatt and verify that it is just a NPM mismatch

[2022-07-02 19:58] bayou-brogrammer opened #90 "Storing array"
Can't seem to figure out how to store an array of ui8. I have a component for FieldOfView which changes everytime the player moves. The visibleTiles just hold the idx [`(y as usize * self.width as usize) + x as usize`] to the relative tiles that are currently visible

[code]

After this definition, I get unknown as the type
<img width="551" alt="CleanShot 2022-07-02 at 14 58 08@2x" src="https://us

[2022-07-02 20:09] lecoqjacob commented on #90
errr so I was dumb. I needed to provide a number for the typed array after looking to the source.
<img width="547" alt="CleanShot 2022-07-02 at 15 07 47@2x" src="https://user-images.githubusercontent.com/9278174/177014868-a85d39bf-7a35-4988-b6c8-5e94db611d7b.png">

My question is what does that number actually do in terms of size? I printed the components to the console and it shows that visibileT

[2022-07-03 00:41] vegeta897 commented on #90
You can pass an integer as a second argument into `defineComponent` to control how large the data arrays are.

The number you use with your typed array definition controls how large the array is for each entity. With a size of 1 it's basically pointless compared to a single ui8 value. If it's meant to index the tiles on your map, then it needs to be as big as the map's total number of tiles.

[2022-07-03 12:39] O4epegb commented on #89
Yep, it works.

[2022-07-28 03:02] ScottLHelm opened #94 "RemoveEntity() doesn't remove entity from Queries or Component"
Calling RemoveEntity(world, eid) doesn't remove an entity from a query or the component array. Calling RemoveComponent() on the appropriate component does remove the entity from both though. Is this a bug with RemoveEntity() or am I calling the function incorrectly?

Thanks!

[2022-08-07 10:21] usrgnome opened #95 "Bitecs resize data stores issue"
Following code to reproduce
[code]

Output:
👾 bitECS - resizing all data stores from 100000 to 150000
'Cannot add eid that already exists! eid: 0' (Error thrown from my own code)

Version
"bitecs": "^0.3.38",
"npm: " "8.3.1"
"node": "v16.14.0"

[2022-08-22 21:38] speigg commented on #94
@ScottLHelm  this has been fixed on master; you should be able to test by installing directly from git

"bitecs": "github:NateTheGreatt/bitECS#master"

[2022-09-09 18:22] NateTheGreatt commented on #95
thanks for the report! resizing has some known issues at the moment. i will be disabling resizing in the next release in favor of [this proposal](https://github.com/tc39/proposal-resizablearraybuffer)

[2022-09-15 00:52] mikecann commented on #86
hey @EnderShadow8 apologies for contacting you via this github issue on a totally unrelated matter but since you archived wolf-ecs before I got chance to reply to you here https://github.com/EnderShadow8/wolf-ecs/issues/14 then I unfortunately lost a way to contact you.

I would love to discuss more wolf-ecs and your thoughts on the ECS space in JS in general.

Please contact me: mike.cann@gmail.c

[2022-10-03 04:20] mikecann opened #96 "Destructuring performance"
I was wondering about the performance of destructuring within systems so I decided to run some tests:

[code]

Results are:

[code]

So it looks like destructuring has quite a large impact.. having said that tho there could be some CPU vectorization / JIT'ing going on here that might cause oddness.

[2022-10-05 00:25] NateTheGreatt commented on #96
pretty interesting results @mikecann! did you mean to create this issue in the `miniplex` repo, or just sharing info that may apply to `bitECS` as well?

[2022-10-05 00:27] NateTheGreatt commented on #96
pretty interesting results @mikecann! i have experimented with similar benchmarks. the results can vary wildly between each javascript engine. did you mean to create this issue in the miniplex repo, or just sharing info that may apply to bitECS as well?

[2022-10-05 00:30] mikecann commented on #96
whoops! hahhaha I did indeed mean to post this to miniplex, sorry about that, very embarrassing!

[2022-10-05 00:30] #96 closed

[2022-10-15 16:59] Fi1osof commented on #57
@NateTheGreatt it's realy needed. Hard to use in TS project now.

[2022-10-21 14:06] jorgenbuilder commented on #57
This repo looks awesome! I can't decide whether I'm silly for not trying it out because it isn't TS. 😅

[2022-10-21 20:49] SupremeTechnopriest commented on #57
@jorgenbuilder It has typedefs and a typescript rewrite is definitely on the roadmap 🙂

[2022-11-15 21:41] zewa666 opened #99 "How to handle destroyed entities cleanup in central location"
Hey there,

I'd like to know what approach to take to perform some cleanup after an entity has been removed.
So e.g I have a map of <eid, sprites> where once the entity is removed, the according entry of the map should be deleted.

I thought about perhaps about instead of calling removeEntity directly instead do `addComponent(world, AboutToBeDead, eid)` and in the enterQuery of listening for About

[2022-11-24 13:36] ProgrammingLife opened #100 "Are you gonna port this library to TypeScript somehow?"
Wish to see typescript version of this wonderful library. Are you gonna port this library to TypeScript?

I see here: https://github.com/NateTheGreatt/bitECS/blob/master/src/index.ts that TS port is coming soon but it was written more than a year ago 😀